@model IEnumerable<NetInvenApplication.Models.device>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serial_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.computer.os_version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.device_models.manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.device_types.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.network_devices.host_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wired_devices.switch_port)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serial_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.computer.os_version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.device_models.manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.device_types.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.network_devices.host_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wired_devices.switch_port)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.asset_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.asset_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.asset_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
