@model NetInvenApplication.Models.All_Device_Data

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>All_Device_Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_subtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_subtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.host_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.host_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.static_ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.static_ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.switch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.switch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.switch_port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.switch_port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlan_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlan_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.os_version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.os_version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hdd)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
